@font-face {
	font-family: "Archivo";
	src: url("./fonts/ArchivoNarrow-Regular.otf");
}

@font-face {
	font-family: "Archivo Bold";
	src: url("./fonts/ArchivoNarrow-Bold.otf");
}

body {
  margin: 30px 0;
  padding: 0;
  font-family: 'Archivo',sans-serif;
  background-color: rgba(0,0,0,0.5);
}